torch==2.0.1+cu118 # for full alignment 2.0.1+cu118
torchvision
torchaudio
packaging
triton
timm==0.4.12
pytest 
chardet 
yacs 
termcolor
submitit 
tensorboardX
fvcore
seaborn
opencv-python
tensorboard
Cython
thop
numpy==1.24.4
odl
warmup-scheduler
scikit-image
scikit-video
scikit-learn
selective_scan_cuda_oflex_rh
